{% extends "::base.html.twig" %}

{% block body %}
<h1>Welcome on the Skills API platform</h1>
    <div class="row">
<p>The goal of this project is to provide a completely open API of human skills.
    For the moment anyone can add, update and delete any skill.
</p>
<p>
    If you want to help or if you want to host the project for some private use, you can find the code on <a href="https://github.com/OpenSkills/skillsapi">Github</a>.
</p>
    </div>
<div class="row">

You may find some others projects like this one useful:
    <ul>
        <li><a href="http://en.skill-project.org/">The Skill Project</a> which has a nice interface. Two main problems: not so active and the data can't be use for commercial use</li>
        <li><a href="https://www.itsyourskills.com">It's your skills</a>. One main problem: the service is not free</li>
    </ul>
</div>

{% endblock %}
